<h1>Index</h1>

<ul>
  <% @themes.each do |theme|%>
  <li><%= link_to theme.title, theme_path(theme.id) %></li>
  <% end %>
  <p><%= link_to "Add New", new_theme_path %></p>
  <p><%= link_to "Send Mail", root_path, :method => :post, action:'themes#send_henry_mail' %></p>
</ul>
